{{#each bucketlists as |bucketlist|}}
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>lng</th>
          <th>lat</th>
          <th>place_id</th>
          <th>activity</th>
          <th>complete</th>
          <th>description</th>
          <th>bucketlist id</th>
        </tr>
      </thead>
      <tr>
      <tbody>
        <th scope="row" data-id="{{bucketlist.id}}"></th>
          <td>{{bucketlist.location}}</td>
          <td>{{bucketlist.activity}}</td>
          <td>{{bucketlist.completed}}</td>
          <td>{{bucketlist.place_id}}</td>
          <td>{{bucketlist._id}}</td>
          <td><button data-id="{{bucketlist.id}}" type="button" name="button" class="remove-bucketlist-item glyphicon glyphicon-remove-sign"></button>
        </tr>
      </tbody>
    </table>
{{/each}}
