<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Location</th>
      <th>Activity</th>
      <th>Completed</th>
      <th> VIEW </th>
      <th> DELETE </th>
      <th> EDIT </th>
    </tr>
  </thead>
  {{#each bucketlists as |bucketlist|}}
    <tr>
      <tbody>
        <th scope="row" data-id="{{bucketlist._id}}"></th>
        <td class="bl-location">{{bucketlist.location}}</td>
        <td class="bl-activity">{{bucketlist.activity}}</td>
        <td class="bl-completed">
          {{#if bucketlist.completed}}
            Yes
          {{else}}
            No
          {{/if}}
        </td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="show-bucketlist btn btn-default">View</button></td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="remove-bucketlist-item glyphicon glyphicon-remove-sign"></button></td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="edit-bucketlist-item glyphicon glyphicon-edit"></button></td>
        <!-- <td data-id="{{bucketlist._id}}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-id="{{bucketlist._id}}" data-toggle="dropdown"> <b data-id="{{bucketlist._id}}" class="glyphicon glyphicon-edit"></b> </a>
          <div class="dropdown-menu">

            <form data-id="{{bucketlist._id}}" class="edit-bucketlist">
              <div class="form-group">
                <p data-id="{{bucketlist._id}}" type="text" name="bucketlist[location]" value="{{bucketlist.location}}">{{bucketlist.location}}</p>
                <input data-id="{{bucketlist._id}}" type="text" name="bucketlist[activity]" value="{{bucketlist.activity}}">
                <input data-id="{{bucketlist._id}}" type="boolean" name="bucketlist[completed]" value="{{bucketlist.completed}}">
                <button class="data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="submit" name="button" class="edit-bucketlist glyphicon glyphicon-edit"></button>
              </div>
            </form>
          </div>
        </td> -->
    </tr>
    </tbody>
  {{/each}}
</table>
