<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Location</th>
      <th>Activity</th>
      <th>Completed</th>
      <th> VIEW </th>
      <th> DELETE </th>
      <th> EDIT </th>
    </tr>
  </thead>
  {{#each bucketlists as |bucketlist|}}
    <tr>
      <tbody>
        <th scope="row" data-id="{{bucketlist._id}}"></th>
        <td class="bl-location">{{bucketlist.location}}</td>
        <td class="bl-activity">{{bucketlist.activity}}</td>
        <td class="bl-completed">
          {{#if bucketlist.completed}}
            Yes
          {{else}}
            No
          {{/if}}
        </td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="show-bucketlist btn btn-default">View</button></td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="remove-bucketlist-item glyphicon glyphicon-remove-sign"></button></td>
        <td><button data-id="{{bucketlist._id}}" data-location="{{bucketlist.location}}" data-activity="{{bucketlist.activity}}" data-completed="{{bucketlist.completed}}" data-placeId="{{bucketlist.placeId}}" type="button" name="button" class="edit-bucketlist-item glyphicon glyphicon-edit"></button></td>
    </tr>
    </tbody>
  {{/each}}
</table>
