{{#each bucketlists as |bucketlist|}}

    <!-- <small>{{show.date}}</small>
    <small>{{show.band}}</small>
    <small>{{show.venue}}</small>
    <small>{{show.location}}</small> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>lng</th>
          <th>lat</th>
          <th>place_id</th>
          <th>activity</th>
          <th>complete</th>
          <th>description</th>
          <th>bucketlist id</th>
        </tr>
      </thead>
      <!-- {{#each bucketlists as |bucketlist|}} -->
      <tbody>
        <tr>
        <th scope="row" data-id="{{bucketlist.id}}"></th>
          <td>{{bucketlist.name}}</td>
          <td>{{bucketlist.lng}}</td>
          <td>{{bucketlist.lat}}</td>
          <td>{{bucketlist.place_id}}</td>
          <td>{{bucketlist.activity}}</td>
          <td>{{bucketlist.complete}}</td>
          <td>{{bucketlist.description}}</td>
          <td>{{bucketlist.id}}</td>
        </tr>
      </tbody>
    </table>
  <!-- <div>
    {{#if show.rating}}
      {{show.rating}}
    {{else}}
      No rating
    {{/if}}
  </div>
  <div>
    {{#if show.notes}}
      {{show.notes}}
    {{else}}
      No notes.
    {{/if}}
  </div> -->

{{/each}}
